python-telegram-bot
anthropic
openai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
httpx
schedule
flask
twilio
requests
gunicorn
pyTelegramBotAPI
python-dotenv
pyluach
openai
pytest
tzdata
groq
beautifulsoup4
markdown
openpyxl
python-docx
psycopg2-binary

